/* Base colors */
:root {
    --telemagenta: #003049;
    --jet: #3E3837ff;
    --misty-rose: #fdf0d5;
}

body {
    background-color: var(--misty-rose);
    color: var(--jet);
}

.navbar {
    background-color: var(--telemagenta);
}

.navbar a {
    color: white;
}

.navbar-toggler-icon {
    background-color: white;
}

.navbar-brand img {
    max-height: 40px;
}

.content-section {
    padding: 60px 0;
}

.content-section h2 {
    color: var(--telemagenta);
}



.footer {
    background-color: var(--telemagenta);
    padding: 20px;
    text-align: center;
    color: white;
}

.btn-custom {
    background-color: var(--telemagenta);
    color: white;
}

.btn-custom:hover {
    background-color: #ad1c50;
}

/* Hamburger menu */
@media (max-width: 767px) {
    .navbar-collapse {
        background-color: var(--telemagenta);
    }
}

/* Links styling */
a {
    color: var(--telemagenta);
}


.content-section ul {
    margin: 1em 0;
    padding-left: 3em; /* Indentation */
    list-style-type: disc; /* Bullet points */
}

.content-section ul li {
    margin-bottom: 0.5em;
}